@page
@model MyApp.Namespace.FifthPageModel
@if(Model.IsCorrect)
{
    <table>
    <th><td>Numbers</td></th>
    @foreach (int num in Model.Nums)
    {
        <tr><td>@num</td></tr>
    }
    </table>
}
else
{
    <p>Incorrect data</p>
}

<form method = "post">
    <label for="start">Start</label><br>
    <input type="text" name="start" id="start"><br>
    <label for="stop">Stop</label><br>
    <input type="text" name="stop" id="stop"><br>
    <label for="step">Step</label><br>
    <input type="text" name="step" id="step"><br>
    <input type="submit" value="Send">
</form>